body {
    background-color: #232946;
    min-height: 100vh;
    min-width: 100vh;
    padding: 0;
    padding-top: 0.001;
    margin: 0;
    overflow: hidden;
}

.hidden{
    /* display: none; */
    visibility: hidden;
}

h1:first-child {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 5px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    /* border: 2px solid green; */
    font-size: 44px;
    margin: 10px;
    padding: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    border: 4px solid wheat;
}

.input_con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 3px solid rebeccapurple;
}

#input_btn {
    display: flex;
    font-size: medium;
    color: #363e64;
    background-color: #eebbc3;
    border: 4px solid;
    border-color: rgb(127, 171, 202);
    border-radius: 8px;
    margin: 9px;
    padding: 9px;
}

#input_btn:hover {
    border-color: rgb(158, 174, 221);
}

#city_input {
    background: transparent;
    font-size: medium;
    border-radius: 8px;
    border: 3px solid rgb(0, 0, 0);
    padding: 13px;
    margin: 8px;
}

/* #to_do_input:focus{
    outline: 1px;
} */
#weatherinfo:hover {
    background-color: rgb(104, 100, 100);


}

#weatherinfo {
    display: flex;
    flex-direction: column;
    font-size: large;
    border-radius: 31px;
    border: 3px solid rgb(161, 210, 234);
    padding: 24px;
    margin: 15px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(84, 81, 81);
    border-radius: 7px;
    list-style: decimal;
    padding-left: 40px;
    font-size: 26px;
    margin: 10px;
    padding: 10px;
}

li > button{
    padding: 5px;
    margin: 5px;
    margin-left: 21px;
    background-color:#eebbc3;
    border-radius: 6px;
}